
body {
  font-family: "Oranienbaum", serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
}

.page-container {
  background-color: #1c7c61;
  min-height: calc(100vh - 40px);
  margin: auto;
  padding: 20px;
  justify-content: center;
}

header {
  text-align: center;
  color: rgb(242, 238, 238);
  margin-bottom: 20px;
}

.page-title {
  font-size: 2rem;
}

.card-area {
  background: rgb(234, 220, 220);;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.donation-details {
  display: grid;
  grid-template-columns: 1fr; /* p mobile: 1 coluna (tudo abaixo do outro) */
  gap: 20px;
}

.donation-details div {
  display: flex;
  flex-direction: column;
}

.donation-details label {
  margin-bottom: 5px;
  font-weight: bold;
}

.donation-details input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  grid-column: 1 / -1; /* isso faz o botão ficar no meio das duas colunas 1fr1r*/
  margin: auto;
  padding: 12px;
  background:#1e6c46;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

button:hover {
  background: #234937;
}

/* Responsividade: no desktop vira 2 colunas(inputs lado a lado) e em celular fica 1 (abaixo)*/

@media (min-width: 490px) {
    .donation-details {
        grid-template-columns: 1fr ;
    }
}

@media  (min-width:491px ) {
    .donation-details {
        grid-template-columns: 1fr 1fr;
    }
}